<div class="base">

<%# form_for の代わりに search_form_for を使うことで検索フォームを作成 %>
<%= search_form_for @q do |f| %>

  <%# cont 文字列が含まれる氏名で検索（not_cont で含まれない商品説明） %>
  <%= f.label :title_cont, "タイトル" %>
  <%= f.search_field :title_cont %>
  <br />

  <%= f.label :category, "発表区分" %>
  <%= f.select :category_id_eq, Category.all.map{|cat| [cat.value, cat.id]} %>
  <br />

  <%# or で複数の値をorで検索（and 複数の値をand条件で検索） %>
  <%#= f.label :name_or_description_cont, "名前 or 説明" %>
  <%#= f.search_field :name_or_description_cont %>

  <%# 検索ボタン %>
  <%= f.submit '検索' %>
<% end %>

<hr />

<table class="table-css" width="90%">
  <thead>
    <tr>
      <th class="td-basic" width="20px" align="center">#</th>
      <th class="td-basic" width="30%" align="center">タイトル</th>
      <th class="td-basic" width="50%" align="center">サブタイトル</th>
      <th class="td-basic" width="20%" align="center">演者</th>
    </tr>
  </thead>

  <tbody>
    <% @subject_of_speeches.each.with_index(1) do |subject_of_speech, i| %>
      <tr onClick="window.location.href='<%= subject_of_speech_path(subject_of_speech) %>'">
        <td class="td-basic"><%= i %></td>
        <td class="td-basic"><%= subject_of_speech.title %></td>
        <td class="td-basic"><%= subject_of_speech.sub_title %></td>
        <td class="td-basic"><%= subject_of_speech.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
